.top-header {
    background: #31383B;
}

.top-header h1 {
    color: white;
    text-shadow: 1px 0 0 blue, 0 1px 0 blue, -1px 0 0 blue, 0 -1px 0 blue;
    font-style: italic;
}

.padding-top {
    padding-top: 20px;
}

.padding-bottom {
    padding-bottom: 20px;
}

.home-title {
    margin-top: 0;
}

.user-signin {
    margin-top: 20px;
}

.product-box {
    margin-top: 20px;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}